# credentials
aws.credentials


# configuration folders
aws-elastic-beanstalk-cli-setup/
aonenv/
.idea/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
